{% extends "index.html" %}

{% block content %}
<form method="post" action="{{ url_for('user.user_edit' , user_id=user.user_id )}}" >
    <div class="form-group">
        <label for="jmeno">Jméno:</label>
        <input type="text" id="jmeno" name="jmeno" value="{{ user.name }}" required>
    </div>
    <div class="form-group">
        <label for="prijmeni">Příjmení:</label>
        <input type="text" id="prijmeni" name="prijmeni" value="{{ user.surname }}"required>
    </div>
    <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login" value="{{ user.login }}" required>
    </div>

    <div class="form-group">
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="admin" {% if user.role == "admin" %}selected{% endif %}>Admin</option>
            <option value="autor"{% if user.role == "autor" %}selected{% endif %}>Autor</option>
        </select>
    </div>

    <button type="submit">Uložit</button>
    
</form>

{% endblock %}

